
<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script src="<%- config.root%>js/md5.min.js"></script>
<script>
    const gitalk = new Gitalk({
    clientID: 'ece2d2cd7c5f768a4c22',
    clientSecret: '1ad562557353b888b4b622239d45150c5df6d5ee',
    repo: 'blog-comments',
    owner: 'ztelur',
    admin: ['ztelur'],
    // labels: ['Gitalk', 'gitment'].concat(["{{ page.tags | join: '","'}}"]),
    // id: location.origin + location.pathname,
    id: md5("<%= page.permalink %>"),
    // facebook-like distraction free mode
    distractionFreeMode: false
});

gitalk.render('gitalk-container')
</script>
